<p>figure works!</p>
<h5>Tentativi: </h5>{{pointFigure}}
<div *ngIf="pointFigure == 1">  
    <img src="/assets/imagine/image1.png" alt="image">
</div>
<div *ngIf="pointFigure == 2">  
    <img src="/assets/imagine/image2.png" alt="image">
</div>
<div *ngIf="pointFigure == 3">
    <img src="/assets/imagine/image3.png" alt="image">
</div>
<div *ngIf="pointFigure == 4">
    <img src="/assets/imagine/image4.png" alt="image">
</div>
<div *ngIf="pointFigure == 5">
    <img src="/assets/imagine/image5.png" alt="image">
</div>
<div *ngIf="pointFigure == 6">
    <img src="/assets/imagine/image6.png" alt="image">
</div>
<div *ngIf="pointFigure == 7">
    <img src="/assets/imagine/image7.png" alt="image">
    <div>
        <span>GAME OVER</span>
    </div>
   
</div>


